@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea, select, button {
    @apply outline-none focus:outline-none;
  }
}
.heading-property {
  background-image: url(https://propertyhub.net/wp-content/uploads/2023/10/property-hub-invest.jpg);
}