@tailwind base;
@tailwind components;
@tailwind utilities;


.body {
  font-family: 'Roboto', 'Open Sans', 'Lato', 'Segoe UI', sans-serif !important;
}

@layer base {
  input, textarea, select, button {
    @apply outline-none focus:outline-none;
  }
}
.heading-property {
  /* background-image: url("/images/real-estate-hero.jpg");
  background-position: center;
  background-size: cover;

   background:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url("/images/real-estate-hero.png") center/cover no-repeat; */
  background-image: url("/images/real-estate-hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}
.btn-bg-color {
  background-color: #bd8a2a;;
}

.btn-border-color {
  border-color: #bd8a2a;
}
.btn-border-color-white {
  border-color: #ffffff;
}
.btn-text-color-secondary {
  color: #bd8a2a;
}

.bg-orange-custom {
  background-color: #b98321;
}

.properties-text-color {
  color: #603c14;
   /* #5e4824; */
}
.page-background-color {
  background-color: #f6f2f3;
} 
.search-properties {
  .input:focus {
    border-color: #bd8a2a;
    outline: none;
    box-shadow: 0 0 0 3px rgba(189, 138, 42, 0.25);
  }
}
.propert-card-color {
    background-color: #fdfbfc;
}